[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.lmaxyz.TwAura
Exec=/usr/bin/com.lmaxyz.TwAura
Name=TwAura
Name[ru]=TwAura

[X-Application]
Permissions=Internet;UserDirs;Audio
OrganizationName=com.lmaxyz
ApplicationName=TwAura
